<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Florbols</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>


<body>

<div class="container">
	<header class="py-8">
		<h1>Latvijas starptautiskā florbola federācija</h1>
		<nav style="background-color: #007bff; padding: 15px; display: flex; justify-content: center; gap: 30px;">
			<a href="/">Sākums</a>|
			<a href="/login">Login</a>|
			<a href="/rēgistreties">sign in</a>|
			<a href="/tabula">Līgas tabula</a>|
			<a href="/speles">Spēļu kalendārs</a>|
			<a href="/piev_speli">Pievienot spēli</a>|
			<a href="/lab_speli">Labot spēli</a>|
			<a href="/dz_speli">Dzēst spēli</a>|
			<a href="/atslegties">Log out</a>|
		</nav>
	</header>

	<hr>

	{% block content %}
    {% endblock %}

    </hr>
    <footer class="mt-5 text-center text-muted">
        &copy; 2026 Kārlis Čače
    </footer>
</div>
</body>
</html>