{% extends "pamats.html" %}
{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow border-success">
            <div class="card-body">
                <h2 class="text-center mb-4">Reģistrēties</h2>
                <form action="/registreties" method="POST">

                	<div class="mb-3">
                        <label for="vards" class="form-label">Tavs vārds</label>
                        <input type="text" class="form-control" id="reg_vards" name="vards" placeholder="Kā tevi saukt?" required>
                    </div>

                    <div class="mb-3">
                        <label for="reg_user" class="form-label">lietotājvārdu</label>
                        <input type="text" class="form-control" id="reg_user" name="lietotajs" placeholder="Tavs unikālais lietotājvārds:" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="reg_pw" class="form-label">parole</label>
                        <input type="password" class="form-control" id="reg_pw" name="parole" required>
                    </div>

                    <button type="submit" class="btn btn-success w-100">Izveidot profilu</button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}